<!DOCTYPE html>
<html lang="en-us">
<head>
    <%- include(appRoot + '/templates/head.ejs'); %>
</head>
<body>
<header>
    <%- include(appRoot + '/templates/header.ejs'); %>
    <script src="/public/js/login.js"></script>
</header>
<div class="container">
    <br>
    <h1 class="ts-primary ts-header-card">
        <span class="ts-text">Login</span>
    </h1>
    <br>
    <% if (error !== false) { %>
        <div class="d-flex justify-content-center">
            <div class="alert alert-danger" role="alert" style="width: 50%">
                <%= error %>
            </div>
        </div>
    <% } %>
    <div class="d-flex justify-content-center">
        <div class="ts-secondary ts-border" style="width: 50%">
            <ul class="nav-tabs nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#login" id="login-button">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#signup" id="signup-button">Sign Up</a>
                </li>
            </ul>
            <form id="login" action="/account/login?redirect=<%= encodeURIComponent(redirect) %>" method="post">
                <div class="form-group">
                    <label for="username">Username/Email</label>
                    <input type="text" class="form-control ts-form-item" id="username" placeholder="Username/Email"
                           name="username" required maxlength="50">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control ts-form-item" id="password" placeholder="Password"
                           name="password" required>
                </div>
                <p><a href="/account/forgot?redirect=<%= encodeURI(redirect) %>">Forgot Password?</a></p>
                <%- captcha %>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <form id="signup" class="ts-hidden" action="/account/signup?redirect=<%= redirect %>" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control ts-form-item" id="email" placeholder="Email" name="email"
                           required maxlength="50">
                </div>
                <div class="form-group">
                    <label for="username-signup">Username</label>
                    <input type="text" class="form-control ts-form-item" id="username-signup" placeholder="Username"
                           name="username" required maxlength="50">
                </div>
                <br/>
                <div class="form-group">
                    <label for="password-signup">Password</label>
                    <input type="password" class="form-control ts-form-item" id="password-signup" placeholder="Password"
                           name="password" required>
                </div>
                <div class="form-group">
                    <label for="password-repeat">Repeat Password</label>
                    <input type="password" class="form-control ts-form-item" id="password-repeat"
                           placeholder="Repeat Password" required oninput="checkInputMatches(this, '#password-signup', 'Passwords must match.')">
                </div>
                <%- captcha %>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
