<!DOCTYPE html>
<html lang="en-us">
<head>
    <%- include(appRoot + '/templates/head.ejs'); %>
</head>
<body>
<header>
    <%- include(appRoot + '/templates/header.ejs'); %>
</header>
<div class="container">
    <br>
    <h1 class="ts-primary ts-header-card">
        <span class="ts-text">Reset password</span>
    </h1>
    <br>
    <div class="d-flex justify-content-center">
        <div class="ts-secondary ts-border" style="width: 50%">
            <form action="/account/password?redirect=<%= redirect %>" method="post">
                <label style="display: none">
                    <input type="number" name="id" value="<%= id %>">
                </label>
                <label style="display: none">
                    <input type="text" name="key" value="<%= code %>">
                </label>
                <div class="form-group">
                    <label for="password-signup">Password</label>
                    <input type="password" class="form-control ts-form-item" id="password-signup" placeholder="Password"
                           name="password" required>
                </div>
                <div class="form-group">
                    <label for="password-repeat">Repeat Password</label>
                    <input type="password" class="form-control ts-form-item" id="password-repeat"
                           placeholder="Repeat Password" required oninput="checkInputMatches(this, '#password-signup', 'Passwords must match.')">
                </div>
                <button id="submit-button" type="submit" class="btn btn-primary">Change password</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
